.row {
  width: 100%;
}
.col-4, .col-12 {
  float: left;
}
.col-4 {
  width: 25%;
}
.col-12 {
  width: 100%;
}
.search-field {
  border-style: none none solid;
  border-color: #b2b1b1;
  background-color: #F0F3F8;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search-button {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.search-button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.search-button:active {
	position:relative;
	top:1px;
}

